<div>
  <div class="drawer close">
    <header>
      <div>
        logo
        <div class="text header-text"></div>
      </div>
      <fa-icon (click)="toogleEventListener()" class="toogle" [icon]="chevron"></fa-icon>
    </header>
    <div class="menu-bar">
      <div class="menu">
        <ul class="">
          <li class="nav-link">
            <a routerLink="/dashboard">
              <fa-icon class="icon" [icon]="house"></fa-icon>
              <span class="text nav-text">Home</span>
            </a>
          </li>
          <li class="nav-link">
            <a routerLink="produtos">
              <fa-icon class="icon" [icon]="product"></fa-icon>
              <span class="text nav-text">Produtos</span>
            </a>
          </li>
          <li class="nav-link">
            <a routerLink="clientes">
              <fa-icon class="icon" [icon]="cliente"></fa-icon>
              <span class="text nav-text">Clientes</span>
            </a>
          </li>
          <li class="nav-link">
            <a routerLink="venda">
              <fa-icon class="icon" [icon]="dollar"></fa-icon>
              <span class="text nav-text">Venda</span>
            </a>
          </li>
          <li class="nav-link">
            <a (click)="sair()">
              <fa-icon class="icon" [icon]="sairConta"></fa-icon>
              <span class="text nav-text">Sair</span>
            </a>
          </li>
          <li class="nav-link" >
            <a (click)="exluirConta()">
              <fa-icon class="icon" [icon]="remover"></fa-icon>
              <span class="text nav-text">Excluir conta</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <header class="header">
    <div class="nav"></div>
  </header>
  <div class="content">
    <div class="boder container-xl">
      <ng-component></ng-component>
    </div>
  </div>
</div>
