<div class="bg">
  <form [formGroup]="form" class="d-flex flex-column align-items-center gap-4 ">
    <h1 class="logo">logo</h1>
    <div class="d-flex flex-column gap-1  w-100">
      <div class="form-group mb-2">
        <input class="auth-input" type="text" placeholder="Nome completo" formControlName="fullName">
        <div *ngIf="form.get('fullName')?.errors && form.get('fullName')?.touched">
          <span class="text-danger" *ngIf="form.get('fullName')?.errors?.['required']">Nome é obrigatório.</span>
        </div>
      </div>
      <div class="form-group mb-2">
        <input class="auth-input" type="email" placeholder="Email" formControlName="email">
        <div *ngIf="form.get('email')?.errors && form.get('email')?.touched">
          <span class="text-danger" *ngIf="form.get('email')?.errors?.['required']">E-mail é obrigatório.</span>
          <span class="text-danger" *ngIf="form.get('email')?.errors?.['email']">O e-mail digitado não é válido.</span>
        </div>
      </div>
      <div class="form-group mb-2">
        <input class="auth-input" type="password" placeholder="Senha" formControlName="password">
        <div *ngIf="form.get('password')?.errors && form.get('password')?.touched">
          <span class="text-danger" *ngIf="form.get('password')?.errors?.['required']">Senha é obrigatório.</span>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary w-100">Cadastre-se</button>
    <p>Já tem uma conta? <a routerLink="">Acesse-a agora!</a></p>
  </form>
</div>
