<!DOCTYPE html>
<html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<link rel="stylesheet" href="css/global.css">

<head>
  <title>Entre em Contato</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark d-flex justify-content-between p-2 ">
    <a href="/">
      <img src="/imagen/logo.png" alt="Logo da Empresa" width="79px">
      <div>
        <a class="btn btn-primary" href="/contato">Entre em Contato</a>
      </div>
    </a>
  </nav>
  <section class="container py-5 ">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 class="text-center my-3">Bem-vindo(a) sou Renan</h1>
        <p class="text-center  my-5">Sou um desenvolvedor com experiência em Angular, Next.js, JavaScript, TypeScript,
          Styled
          Components, Material UI e consumo de APIs REST. Com mais de 10 meses de experiência
          no desenvolvimento de aplicativos web, estou sempre em busca de novos desafios e
          oportunidades de aprendizado.
          Atualmente, estou cursando Bacharelado em Engenharia de Software na Universidade
          Tecnológica Federal do Paraná, Cornélio Procópio, onde estou aprimorando minhas
          habilidades técnicas e me preparando para futuros desafios na área de desenvolvimento de
          software.
          Estou sempre procurando maneiras de me manter atualizado sobre as últimas tendências e
          tecnologias em minha área, participando de conferências, eventos e grupos de discussão online. Meu objetivo é
          continuar a crescer e aprimorar minhas habilidades para ser um
          desenvolvedor ainda mais eficiente e capaz
        </p>
      </div>
    </div>
  </section>
  <footer class=" py-3 text-center">
    <p>Desenvolvido por Renan Steiger| Todos os direitos reservados</p>
  </footer>
</body>

</html>