<!DOCTYPE html>
<html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<link rel="stylesheet" href="css/global.css">

<head>
  <title>Desenvolvedor</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark d-flex justify-content-between p-2 ">

    <img src="/imagen/logo.png" alt="Logo da Empresa" width="79px">
    <div>
      <a class="link-desenvolvedor" href="/desenvolvedor">Desenvolvedor</a>
      <a class="btn btn-primary" href="/contato">Entre em Contato</a>
    </div>
  </nav>
  <section class="container py-5 ">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 class="text-center my-3">Bem-vindo(a) ao venda360!</h1>
        <p class="text-center  my-5">Venda360 é um software desenvolvido para auxiliar no gerenciamento de vendas. Com
          o
          venda360, você pode controlar e monitorar todas as etapas do processo de vendas de forma eficiente e
          organizada.</p>
        <a class="btn btn-primary d-block mx-auto" href="/login">Acesse sua conta</a>
        <h2 class="mt-5 my-3 text-center">Tecnologias Utilizadas:</h2>
        <ul class="list-group mt-3">
          <li class="list-group-item">Angular</li>
          <li class="list-group-item">Express</li>
          <li class="list-group-item">Planetscale</li>
          <li class="list-group-item">Prisma</li>
          <li class="list-group-item">TypeScript</li>
          <li class="list-group-item">Bootstrap</li>
          <li class="list-group-item">JTW</li>
        </ul>
      </div>
    </div>
  </section>
  <footer class=" py-3 text-center">
    <p>Desenvolvido por Renan Steiger| Todos os direitos reservados</p>
  </footer>

</body>

</html>