body {
  background: #121214;
  color: #c4c4cc;
}

.btn-primary {
  background: #00875f !important;
  font-size: 1rem;
  font-weight: 600;
  border: none !important;
  color: #c4c4cc;
  width: 200px;
}

.btn-primary:hover {
  background: #00875f !important;
  color: #c4c4cc;
}

.list-group-item {
  background: #202024;
  border-color: #8d8d99;
  color: #00875f;
  text-align: center;
}

.input {
  width: 100%;
  color: #c4c4cc;
  font-size: 1.0rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  height: 54px;
  min-width: 267px;
  border-radius: 0.1rem;
  border: none;

}

input,
textarea {
  background: #29292e;
}
.link-desenvolvedor {
  color: #00875f;
  font-weight: 600px;
  font-size: 20px;
  margin-right: 10px;
  
}


::-webkit-scrollbar {
  width: 8px;
  /* Largura do scroll */
}

::-webkit-scrollbar-track {
  background-color: #666464;
  /* Cor do fundo do scroll */
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Cor da barra de rolagem */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Cor da barra de rolagem ao passar o mouse */
}
