.form{
  padding-top: 30px ;
  width: 80%;
  margin: 0 auto;
  height: 100%;

}


.form-group{
  height: 103px !important;
}
.textarea{
  margin-bottom: 20px;
  .input{
    min-height: 98px !important;

  }
}
