.form {
  padding-bottom: 64px !important;
}

.form-group {
  height: 103px !important;
}

.container-btn {
  flex: 1 0 0%;
  align-items: center;
  justify-content: center !important;
  display: flex;
}

.btn-primary {
  width: 100%;
}
