<div [formGroup]="form" (submit)="forgotPassword()" class="bg">
  <form class="d-flex flex-column align-items-center gap-4 ">
    <h1 class="logo">logo</h1>
    <div class="form-group mb-2">
      <input class="auth-input" type="email" placeholder="Email" formControlName="email">
      <div *ngIf="form.get('email')?.errors && form.get('email')?.touched">
        <span class="text-danger" *ngIf="form.get('email')?.errors?.['required']">E-mail é obrigatório.</span>
        <span class="text-danger" *ngIf="form.get('email')?.errors?.['email']">O e-mail digitado não é válido.</span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary w-100">Redefinir senha</button>
    <div class="d-flex flex-column align-items-center">
      <p>ou <a class="login" routerLink="">Faça login</a></p>
    </div>
  </form>
</div>
