<form [formGroup]="form" class="form">
  <div class="row">
    <div class="form-group col-md-6">
      <label>Nome</label>
      <input type="text" class="input" placeholder="Digite o nome do produto " formControlName="nomeProduto">
      <div *ngIf="form.get('nomeProduto')?.errors && form.get('nomeProduto')?.touched">
        <span class="text-danger" *ngIf="form.get('nomeProduto')?.errors?.['required']">Nome do produto é
          obrigatório.</span>

      </div>
    </div>
    <div class="form-group col-md-6">
      <label>Preço</label>
      <input type="text" class="input" placeholder="Digite o preço do produto" formControlName="preco">
      <div *ngIf="form.get('preco')?.errors && form.get('preco')?.touched">
        <span class="text-danger">Preço do produtoé
          obrigatório.</span>

      </div>
    </div>
  </div>
  <div class="textarea">
    <label>Descrição</label>
    <textarea class="input" placeholder="Digite a descrição do produto" rows="5" formControlName="descricao"></textarea>
  </div>

  <button type="submit" class="btn btn-primary mr-btn">Salvar</button>
  <button routerLink="/dashboard-admin/produtos" type="button" class="btn btn-secondary">Voltar</button>
</form>
